.text-vertical-center h1.nss-page-heading {
    margin-top: 425px;
}

.white-text {
    color: #fff;
}

.header:hover {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/2016_05_19_NSS_Cohort_12_Group_Funny.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}