body* {
	box-sizing: border-box;
}


/*HEADER TOP PAGE*/
#header-text-primary, #header-text-secondary {
	background-color: rgba(10, 71, 87, 0.75);
}

#header-text-primary {
	border-top: 2px dotted #ff6224; 
}

#header-text-secondary {
	border-bottom: 2px dotted #ff6224;
}

#meet-class-text {
	font-size: 2em;
	color: white
}

.btn-dark {
	background-color: rgba(255, 98, 36, 0.8);
	border-radius: 3px;
	border: 1px solid #8f2800;
	box-shadow: 1px 1px 5px 2px #222;
}





/*LANGUAGES SECTION*/
#services.services.bg-primary {
	background-image: url("http://img.photobucket.com/albums/v285/picturekid/C12WebLanguageImage_zpsqvratmcs.jpg");
	background-size: cover;
	position: relative;
	padding-top: 30px;
	padding-bottom: 20px;
	border: 13px solid black;
	overflow:
	top: 0;
	bottom: 0;
	left: 0;	
	right: 0

	-moz-box-shadow:    inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
    -webkit-box-shadow: inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
     box-shadow:        inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
}

.techintro {
	color: #37aec3;
	font-size: 4.5em;
	text-shadow: 2px 3px 2px #555;
}



/*ABOUT US SECTION*/
h2 {
	font-size: 3em;
}

#about-us-title {
	color: white;
}

#about-us-text {
	font-size: 1.4em;
	color: white;
	letter-spacing: .5px;
}

#about-text-background {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	max-height: 250px
	padding: 24px;
	/*max-height: 250px*/
}	

#about.about {
	background-image: url("http://img.photobucket.com/albums/v285/picturekid/NSS12siteCalloutBackground_zpsufphyzkj.jpg");
	/*background-size: cover;
	position: absolute;
	padding-top: 0px;
	border-bottom: ;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;	
	right: 0*/

	border-top: 1px solid white;
	border-bottom: 1px solid white;
	
	-moz-box-shadow:    inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
    -webkit-box-shadow: inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
     box-shadow:        inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
}




/*CALLOUT SECTION (Meet Cohort 12)*/
#callout.callout {
	max-height: 110px;
	background-color: black;
}



/*CLASS PHOTO SECTION*/
#ourClass.ourClass{
	background-image: url(http://img.photobucket.com/albums/v285/picturekid/TileBackground_zpstqh87nwo.jpg);
	background-repeat: repeat;
	overflow: auto;
	padding-bottom: 40px;

	-moz-box-shadow:    inset  0  15px 20px -8px #222, 
                        inset  0 -15px 20px -8px #222;
    -webkit-box-shadow: inset  0  15px 20px -8px #222, 
                        inset  0 -15px 20px -8px #222;
     box-shadow:        inset  0  15px 20px -8px #222, 
                        inset  0 -15px 20px -8px #222;
}



.class-photo-background {
	background-image: url(http://img.photobucket.com/albums/v285/picturekid/NSS12ClassPhotoB_zpsptgfu7pe.jpg);
	padding: 11px;
	box-shadow: 0px 2px 5px 2px #222;
	border: 1px dotted #ff6224;
	border-radius: 3px;	
	box-shadow: inset 0px 3px 5px 4px #333;
	margin-bottom: 16px;
}

.classmate-portrait-wrap .img-ourClass {
	padding: 6px;;
}

.classmate-portrait a {
		display: block;
}

.classmate-portrait-wrap .img-ourClass {
	margin: 0 auto;
}
  

#index-classmate-name {
	padding: 5px 10px;
	color: white; 
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 2px 5px 2px #333;
}

#index-page-photo {
	border: 3px solid #1F3A41;
}



/*MODAL*/
#modal-background {
	border: 4px solid #162A31;
	border-radius: 3px;
	box-shadow: 2px 2px 3px 2px #222	
}

.modal-title {
	color: white; 
	background-color: rgba(0, 0, 0, 1.0)
}






/*FOOTER*/
#nssInfo {
	background-image: url("http://img.photobucket.com/albums/v285/picturekid/NSS12siteCalloutBackground_zpsufphyzkj.jpg");
	padding-top: 10px;
	border-bottom: 2px solid #1F3A41;

	-moz-box-shadow:    inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
    -webkit-box-shadow: inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
     box-shadow:        inset  0  8px 20px -8px #222, 
                        inset  0 -8px 20px -8px #222;
}

#footer-info-background {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	max-width: 600px
	margin-left: 50%;
	margin-right: 50%
	/*max-width: 600px;*/
	margin: auto;
}

#footer-banner-text {
	color: white;
}

.center-block {
	margin: 2px auto 8px auto;
	float: none;
	padding: 10px 0px;
}



/*SIDEBAR*/
#sidebar-wrapper.active {
	background-color: rgba(0, 0, 0, 0.8);
}