<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div id="about-text-background" class="col-lg-12 text-center">
        <h2 id="about-us-title">We are Cohort 12, and we are ready for your coding challenges!</h2>
        <p id="about-us-text">Innovation, communication, and determination - just a sample of traits an NSS graduate possesses.
          Not just a bootcamp, The Nashville Software School is an intensive 6-month program designed to give every student the foundation needed to succeed as software developers. 
            We are Cohort 12 of the Nashville Software School and we come from ​a variety of backgrounds and disciplines - teachers, music professionals, lawyers, artists. These histories, coupled with our experience at NSS, will enable us to transform the landscape of our tech community here in Nashville - and globally. 
            So rejoice! After hours of sleepless nights (and buckets of caffeine), we are ready for YOUR coding challenges, Nashville! Get to know each ​of us below.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
