<header id="top" class="header">
  <div class="row">
    <!-- Begin Image Carousel -->
    <div class="col-md-8 col-md-offset-2">
      <div class="carousel-container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="img\Ahmed_Ansari-20160502_161323.jpg" alt="Project Planning">
              <div class="carousel-caption">
              	<h3>Planning a Group Project</h3>
              </div>
            </div>
            <div class="item">
              <img src="img\Ahmed_Ansari-20160502_161323.jpg" alt="Project Planning">
              <div class="carousel-caption">
              	<h3>Planning a Group Project</h3>
              </div>
            </div>
            <div class="item">
              <img src="img\Ahmed_Ansari-20160502_161323.jpg" alt="Project Planning">
              <div class="carousel-caption">
              	<h3>Planning a Group Project</h3>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <!-- End Image Carousel -->
    <div class="col-md-12 vertical-space"></div>
    <div class="col-md-4 col-md-offset-4">
      <div class="text-vertical-center">
        <h1>NSS Cohort 12</h1>
        <h3>Read About Our Coding Journey!</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Meet the Class</a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</header>
