<section id="ourClass" class="ourClass">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Meet Our Class</h2>
        <hr class="small">

        <div class="row">

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Ahmed">
                <img class="img-ourClass img-responsive" src="img/ourClass-1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Michael">
                <img class="img-ourClass img-responsive" src="img/ourClass-2.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Thomas">
                <img class="img-ourClass img-responsive" src="img/ourClass-3.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Theo">
                <img class="img-ourClass img-responsive" src="img/ourClass-4.jpg">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Martin">
                <img class="img-ourClass img-responsive" src="img/ourClass-1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Kaylee">
                <img class="img-ourClass img-responsive" src="img/ourClass-2.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Toni">
                <img class="img-ourClass img-responsive" src="img/ourClass-3.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Kyle">
                <img class="img-ourClass img-responsive" src="img/ourClass-4.jpg">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Alexander">
                <img class="img-ourClass img-responsive" src="img/ourClass-1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Palmer">
                <img class="img-ourClass img-responsive" src="img/ourClass-2.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#William">
                <img class="img-ourClass img-responsive" src="img/ourClass-3.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Jeremy">
                <img class="img-ourClass img-responsive" src="img/ourClass-4.jpg">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Blair">
                <img class="img-ourClass img-responsive" src="img/ourClass-1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Erin">
                <img class="img-ourClass img-responsive" src="img/ourClass-2.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Matthew">
                <img class="img-ourClass img-responsive" src="img/ourClass-3.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Jason">
                <img class="img-ourClass img-responsive" src="img/ourClass-4.jpg">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Tyler">
                <img class="img-ourClass img-responsive" src="img/ourClass-1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#David">
                <img class="img-ourClass img-responsive" src="img/ourClass-2.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Jen">
                <img class="img-ourClass img-responsive" src="img/ourClass-3.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Katlyn">
                <img class="img-ourClass img-responsive" src="img/ourClass-4.jpg">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Jeremy">
                <img class="img-ourClass img-responsive" src="img/ourClass-1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Dylan">
                <img class="img-ourClass img-responsive" src="img/ourClass-2.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Paloma">
                <img class="img-ourClass img-responsive" src="img/ourClass-3.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Jason">
                <img class="img-ourClass img-responsive" src="img/ourClass-4.jpg">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-3">
            <div class="ourClass-item">
              <a href="#Mark">
                <img class="img-ourClass img-responsive" src="img/ourClass-1.jpg">
              </a>
            </div>
          </div>

        </div>


      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
