  <section id="ourClass" class="ourClass">
  <div class="container">
    <div class="row">
      <div id="class-photo-bound" class="col-xs-12 text-center">
        <!-- <h2>Meet Our Class</h2> -->
        <hr class="small">

        <div class="row">

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Ahmed">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0575_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Ahmed Ansari</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Michael">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0326_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Michael Bennette</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Thomas">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0078_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Thomas Buida</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Theo">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0114_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Theo Carnavos</h3>
          </div>
        </div>

        <div class="row">

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Martin">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0545_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Martin Cross</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Kaylee">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0389_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Kaylee Cummings</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Toni">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0593_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Toni Dew</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Kyle">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0836_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Kyle Dugger</h3>
          </div>

        </div>

        <div class="row">

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Alexander">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0626_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Alexander Elliott</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Palmer">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0131_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Palmer Harrell</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#William">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0450_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">William Hickok</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#JeremyL">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0424_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Jeremy Landi</h3>
          </div>
        </div>

        <div class="row">

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Blair">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0712_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Blair McMillan</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Erin">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0276_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Erin Orstrom</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Matthew">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0672_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Matthew Qualls</h3>
          </div>
          
          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#JasonR">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0350_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Jason Replogle</h3>
          </div>
        </div>

        <div class="row">

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Tyler">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0801_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Tyler Roberts</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#David">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0872_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">David Shuman</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Jen">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0166_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Jen Solima</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Katlyn">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0784_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Katlyn Spears</h3>
          </div>
        </div>

        <div class="row">

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#JeremyS">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0741_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Jeremy Swain</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Dylan">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0051_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Dylan Thomas</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Paloma">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0242_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Paloma Venegas</h3>
          </div>

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#JasonW">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0022_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Jason Weakley</h3>
          </div>
        </div>

        <div class="row">

          <div id="class-photo-background" class="col-xs-6 col-sm-3 portrate">
            <div class="ourClass-item">
              <a data-toggle="modal" data-target="#Mark">
                <img id="index-page-photo" class="img-ourClass img-responsive" src="img/head-shots/professional/2016_05_19_NSS_Cohort_12_0215_T.jpg">
              </a>
            </div>
            <h3 id="index-classmate-name">Mark Williams</h3>
          </div>
        </div>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->



<!-- Modals -->

<div class="modal fade" id="Ahmed" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0562_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Ahmed Ansari</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/ahmedansari153" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/ahmedansari153" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="www.ansariahmed.com" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr> 
        <!-- Personal Bio -->
        <p>I have a drive to learn more about technology, and hope to further my knowledge on tech and as many aspects of it as I can. The goal is to help other people along the way with that drive.
        </p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Michael" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0315_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Michael Bennette</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/mbennette85" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/michael-bennette-970b80b0" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr> 
        <!-- Personal Bio --> 
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Thomas" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0063_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Thomas Buida</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/tjbiii" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/thomasbuida" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://www.tjbiii.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Theo" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/TheoW_1.1.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Theo Carnavos</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/Carnavos" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/theo-carnavos-a661a737" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Martin" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0524_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Martin Cross</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/chiozzo" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/martin-cross-56998680" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>
            <a href="http://martincross.tech"
               target="_blank"
               class="fa fa-laptop fa-lg modalLinks"
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>
        <!-- Personal Bio -->
        <p><b>Calvin: </b>Sometimes when I'm talking, my words can't keep up with my thoughts. I wonder why we can think faster than we speak?</p>
        <p><b>Hobbes: </b>Probably so we can think twice.</p>
        <br>
        <p class="text-center">  -Bill Watterson</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Kaylee" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0368_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Kaylee Cummings</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/krcummings1" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/kayleecummings" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="www.kayleercummings.com" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>Yogi. Animal lover. Coder.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Toni" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0592_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Toni Dew</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/tonidew" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/toni-dew-846361122" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr> 
        <!-- Personal Bio --> 
        <p>After an extensive career in print media, I decided to change direction and join the growing, vibrant software development industry. I am looking forward to using my experience and my new skills to begin a new career.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Kyle" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0827_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Kyle Dugger</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/duggerNot" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/kyle-dugger-63256711a" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr> 
        <!-- Personal Bio --> 
        <p>I have a fondness for puzzles and games and reading books about dragons.  I genuinely hope I never grow up.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Alexander" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0623_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Alexander Elliott</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://www.github.com/puhrestow" 
               target="_blank"
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/walexanderelliott" 
               target="_blank"
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="www.elcreativegroup.com" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>My passion for project management is undeniable - being able to collaborate with others to produce amazing things energizes me, and is an integral part of my life and career. Along with my love for software development, I aspire to combine these interests into obtaining my dream position as a Technical Project Manager.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Palmer" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0144_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Palmer Harrell</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/palmerharrell" 
               target="_blank"
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/palmerharrell" 
               target="_blank"
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank"
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="William" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0483_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >William Hickok</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/williamhickok11"
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/william-hickok-88188675" 
               target="_blank"
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn</a>
          </li>
          <li>  
            <!-- <a href="williamhickok.com" 
               target="_blank"
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a> 
          </li> -->
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="JeremyL" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0445_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Jeremy Landi</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/JeremyLandi" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/jeremy-landi-71340326" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="www.jeremyLandi.com" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr> 
        <!-- Personal Bio --> 
        <p>Software developer who is an avid learner and loves to be challenged. I am fascinated where technology will take us, how it will impact our lives, but more than anything I am excited to be part of it.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Blair" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0692_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Blair McMillan</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/theblairmcmillan" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/theblairmcmillan" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://www.blairmcmillan.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>For the last time! I am not Irish!</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Erin" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0274_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Erin Orstrom</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/eorstrom" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/erinorstrom" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://erinorstrom.com" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>I've always been fond of and intrigued by technology. Coding and programming have only made that passion stronger, and I am excited about the opportunities for me to learn, grow, and solve problems in this field. When not attached to my computer, I enjoy spending time outdoors, with friends and family, and reading good books.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Matthew" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0668_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Matthew Qualls</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/mattqualls" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/matthew-qualls-b7b220122"
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr> 
        <!-- Personal Bio --> 
        <p>The process of transitioning from my previous professional life into my new one as a Software Developer has been amazing. I was seeking an opportunity that would encourage an environment of learning and progression. Needless to say I think that is exactly what I have found and I am very excited for what is next to come.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="JasonR" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0351_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Jason Replogle</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/jtreplogle" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/jason-replogle-8577354b" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://www.afatherandhisson.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Tyler" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0798_T_1.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Tyler Roberts</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/Steventyler5" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/tyler-roberts-172483120" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="David" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0859_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >David Shuman</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/shupac800" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/david-shuman-9527971" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://www.shupac.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>Was lawyer. Now coder.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Jen" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0180_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Jen Solima</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/craftylildev" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/jennifersolima" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://jensolima.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>
        <!-- Personal Bio -->  
        <p>Previously a Graphic &amp; Web Designer. After learning new technologies at NSS, I love having the ability to create anything. I like interacting with people to plan and create solutions, and I try to learn something new everyday.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Katlyn" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0770_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Katlyn Spears</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/katspears206" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/katlyn-spears-156a30109" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://katlynspears.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr> 
        <!-- Personal Bio --> 
        <p>I wish I had something clever to say, but I'm just really excited to work with code more.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="JeremyS" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0728_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Jeremy Swain</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/JeremyCSwain" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/jeremy-c-swain-801069a8" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://www.jeremythedev.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>Was cool. Now Developer.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Dylan" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0031_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Dylan Thomas</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/kdylanthomas" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/kdylanthomas" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://kdylanthomas.com/" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>I’m a proud east Tennessean and former geologist who fell in love with software development. I love solving challenging problems, learning new technologies, and building web applications that feel practical, intuitive, and fun to use.  When I’m not programming, you can probably find me outside, whether I'm rock climbing or just lounging in my hammock.</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Paloma" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0260_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Paloma Vengas</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/13pape" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/paloma-venegas-a8485015" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="#" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr> 
        <!-- Personal Bio --> 
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="JasonW" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0009_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="close-custom" aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" >Jason Weakley</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/JasonWeakley" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/jasonbweakley" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <li>  
            <a href="http://www.jasonweakley.com/#/login" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li>
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p>Although born and raised in Nashville I spent more than 15 years living and working in South Florida where I went to college and pursued a career in customer service. After family began to move back near Tennessee I decided to relocate myself, and within a year I decided a new career in programming would give me the freedom to be with family and hopefully start my own. I love the history and seasons here, especially kayaking down the Harpeth!</p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->

<div class="modal fade" id="Mark" tabindex="-1" role="dialog">
  <div class="modal-dialog row" role="document">
    <div id="modal-background" class="modal-content col-xs-12 col-sm-12">
      <div class="modal-header col-xs-12 col-sm-6">
        <img class="img-ourClass img-responsive" src="img/head-shots/silly/2016_05_19_NSS_Cohort_12_0192_T.jpg">       
      </div>
      <div class="modal-body col-xs-12 col-sm-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" >Mark Williams</h3>
        <hr>  
        <ul>
          <li>  
            <a href="https://github.com/MarkZaWill" 
               target="_blank" 
               class="fa fa-github fa-lg modalLinks" 
               aria-hidden="true"> GitHub
            </a>
          </li>
          <li>  
            <a href="https://www.linkedin.com/in/mark-williams-865029b9" 
               target="_blank" 
               class="fa fa-linkedin-square fa-lg modalLinks" 
               aria-hidden="true"> LinkedIn
            </a>
          </li>
          <!-- <li>  
            <a href="" 
               target="_blank" 
               class="fa fa-laptop fa-lg modalLinks" 
               aria-hidden="true"> Personal Site
            </a>
          </li> -->
        </ul>
        <hr>  
        <!-- Personal Bio -->
        <p></p>

      </div>
      <!-- end of body -->
    </div>
    <!-- end of content -->
  </div>
  <!-- end of dialog -->
</div>
<!-- end of modal -->
</section>
